*{
    box-sizing: border-box;
    margin: 0 auto;
}
body,html{
    background-color: bisque;
}
.seccion{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: paleturquoise;
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* CSS del navbar */
#navbar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background-color: #002395;
    font-size: 10px;
    font-weight: bold;

}
#logo{
    width: 80px;
    align-self: flex-start;
}
#links a{
    color: black;
    margin: 5px;
    text-decoration: none;
    background-color: #50C878;
    border-radius: 8px;
    padding: 8px;
    border-color: brown;
}
#links a:hover{
    background-color: orange;
}
/* css para el Hero */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 100%;
    height: 500px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: black;
}
.swiper .swiper-pagination-bullet-active{
    background-color: white;
}
/* css experience */
#Experience{
    display: flex;
    font-size: 12px;
    flex-direction: column;
}
.proyecto{
    display: flex;
    height: 200px;
    justify-content: space-between ;
    flex-direction: row;
    gap: 30px;
}
.proyecto img{
    height: 190px;
}
/* aboutme */
#infoPersonal{
    display: flex;
    flex-direction: row;
}
#aboutme{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
#fotopersonal{
    height: 80px;
}
/* skills */
#Skills img{
    width: 100%;
}