*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body,html{
    background-color: bisque;
}
.seccion{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: paleturquoise;
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* CSS del navbar */
#navbar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background-color: #002395;
    font-size: 10px;
    font-weight: bold;

}
#logo{
    width: 80px;
    align-self: flex-start;
}
#links a{
    color: black;
    margin: 5px;
    text-decoration: none;
    background-color: #50C878;
    border-radius: 8px;
    padding: 8px;
    border-color: brown;
}
#links a:hover{
    background-color: orange;
}
/* css para el Hero */
.imageSlides {
    display: none
  }

  #carrusel img {
    margin: auto;
    display: block;
    height: 300px;
    width: 100%;

  }
   
  .images-slideshow {
    position: relative;
    margin: auto;
    height: 300px;

  }
   
  .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  .previous {
    left: 2%;
  }

  .next {
    right: 2%;
  }

  .previous:hover,
  .next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
  }
/* css experience */
#Experience{
    display: flex;
    font-size: 12px;
    flex-direction: column;
}
.proyecto{
    display: flex;
    height: 200px;
    justify-content: space-between ;
    flex-direction: row;
    gap: 30px;
}
.proyecto img{
    height: 190px;
}
/* aboutme */
#infoPersonal{
    display: flex;
    flex-direction: row;
}
#aboutme{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
#fotopersonal{
    height: 80px;
}
/* skills */
#Skills img{
    width: 100%;
}
/* contacto */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    padding: 12px 20px;
    border: 20px;
    cursor: pointer;
    width: 80%;
    display: flex;

    
  }

  .contenedorcontacto {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

  }
  #linkredes{
    margin-top: 10px;
  }
#redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
#redes img{
    height: 20px;
    margin-top: 10px;
}

  
  
  
  